#The ID of the membership service provider (MSP)
MSPID=DEFAULT

#Certificate of the node, compliant to Fabric's MSP guidelines
CERTIFICATE=/home/joao/gocode/src/github.com/hyperledger/fabric/sampleconfig/msp/signcerts/peer.pem

#Private key of the node, compliant to Fabric's MSP guidelines
PRIVKEY=/home/joao/gocode/src/github.com/hyperledger/fabric/sampleconfig/msp/keystore/key.pem

#Number of signer/sending threads in the pool
PARELLELISM=10

#Maximum number of blocks to submit to each signer/sending thread
BLOCKS_PER_THREAD=10000

#IDs of the frontends present in the system, separate by commas
RECEIVERS=1000,2000

